.p-user-menu {
  position: relative;

  display: flex;
  align-items: center;

  gap: 14px;

  &__icon {
    cursor: pointer;

    padding: 8px;

    display: flex;
    align-items: center;

    &:hover,
    &--active {
      background-color: var(--primary);
      border-radius: 50%;

      color: var(--color-white);

      transition: all 0.3s ease-in-out;
    }
  }
  &-dropdown {
    z-index: 1000;
    position: absolute;
    top: 70px;
    right: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 16px;

    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 8px;

    transition: all 0.3s ease-in-out;

    &__nav {
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 10px;

      padding: 8px 16px;

      font-size: 14px;
      font-weight: 500;

      &:hover {
        background-color: #f6ecff;
        border-radius: 8px;

        transition: all 0.3s ease-in-out;
      }
      &--active {
        background-color: var(--primary);
        color: var(--color-white);
      }
    }
  }
}
