# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment variables - ASLA GİTHUB'A ATMA!
.env
.env.*
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
*.env

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
