@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #3c096c;
  --primary-light: #9d4edd;
  --primary-60: #7b2cbf;
  --primary-80: #5a189a;

  --secondary: #bee9e8;
  --secondary-light: #a1dbf0;
  --secondary-60: #5fa8d3;
  --secondary-80: #62b6cb;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-error: #ff564f;
  --color-success: #34c759;
  --color-warning: #ff912c;
  --color-info: #00a7e7;

  --dark-100: #00171f;
  --dark-80: #242b33;
  --dark-60: #242b33;
  --dark-40: #99a2a5;
  --dark-20: #ccd1d2;
  --dark-10: #ebeeef;

  --font-family: 'Red Hat Display', sans-serif;
  --font-family-condensed: 'Roboto Condensed', sans-serif;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
