@import '_variables';
body {
  margin: 0;

  font-family: var(--font-family);
  font-weight: var(--font-regular);
}
.page {
  --page-px-lg: 28px;
  --page-py-lg: 130px;

  --page-px-md: 20px;
  --page-py-md: 40px;
  
  padding: var(--page-py-md) var(--page-px-md);
  max-width: 1200px;

  @media screen and (min-width: 1600px) {
    padding: var(--page-px-lg) var(--page-py-lg);
  }
  &__login {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    grid-gap: 150px;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  
  gap: 18px;
  width: 100%;
  &__forgot-password {
    display: flex;
    gap: 8px;
    a {
      color: var(--primary);
      font-weight: var(--font-medium);
      text-decoration: none;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

  }
  &__login {
    &-title {
        font-size: 32px;
        font-weight: 600;
        color: var(--primary)
    }
    &-subtitle {
        font-size: 16px;
        font-weight: 400;
        color: var(--dark-0)
    }

  }
}
