@import '_variables';
body {
  margin: 0;

  font-family: var(--font-family);
  font-weight: var(--font-regular);
}
.page {
  --page-px-lg: 28px;
  --page-py-lg: 200px;

  --page-px-md: 20px;
  --page-py-md: 80px;

  padding: var(--page-py-md) var(--page-px-md);
  max-width: 1200px;

  @media screen and (min-width: 1600px) {
    padding: var(--page-py-md) var(--page-px-md);
  }
  &__login {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    grid-gap: 150px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding: 16px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  gap: 18px;
  width: 100%;
  &__forgot-password {
    display: flex;
    gap: 8px;
    a {
      color: var(--primary);
      font-weight: var(--font-medium);
      text-decoration: none;
    }
  }
  &__password {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &__location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  &__login {
    &-title {
      font-size: 32px;
      font-weight: 600;
      color: var(--primary);
    }
    &-subtitle {
      font-size: 15px;
      font-weight: 400;
      color: #242b33;
    }
  }
}
