.p-header {
    position: relative;

    --p-header-px-lg: 28px;
    --p-header-py-lg: 130px;

    --p-header-px-md: 20px;
    --p-header-py-md: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--p-header-px-md) var(--p-header-py-md);

    background-color: var(--color-white);
    color: var(--primary);

    @media screen and (min-width: 1600px) {
        padding: var(--p-header-px-lg) var(--p-header-py-lg);
    }
    //mobile
    @media screen and (max-width: 768px) {
        padding: 20px;
        &__container {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    &__logo {
        cursor: pointer;
        width: 230px;

        @media screen and (max-width: 768px) {
            width: 130px;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        gap: 48px;
    }
    &__nav {
        display: flex;
        gap: 48px;
        a {
            color: var(--primary);
            text-decoration: none;
            font-size: 16px;
            font-weight: var(--font-bold);
        }
    }
    &__actions {
        display: flex;
        gap: 14px;
    }
    &__dropdown {
        position: absolute;
        z-index: 99999;
        top: 90px;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        
        gap: 24px;
        padding: 24px;
        box-shadow: 0px 4px 10px 0px #00000040;

        background-color: var(--color-white);

        &-items {
            display: flex;
            align-items: center;
            justify-content: center;

            flex-direction: column;
            
            gap: 24px;
        }

        &-item {
            color: var(--primary);
            text-decoration: none;
            font-size: 16px;
            font-weight: var(--font-bold);
        }
        &-actions {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 14px;
        }
    }
}
